<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LektorLib iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LektorLib macOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>LektorLib tvOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>LektorLib watchOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>747DBBEF1D1D84CB00AB49F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>747DBBFD1D1D851800AB49F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>747DBC0A1D1D853000AB49F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>747DBC171D1D855800AB49F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
